<div class="container">
  <div class="col-md-8 col-md-offset-2">
      <div class="termframe">
        <h1>Newslide利用規約</h1>
        <h2>第1条（総則）</h2>
          <p>1.テキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
          <p>2.テキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
          <p>3.テキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
        <h2>第2条（定義）</h2>
          <p>1.テキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
          <p>2.テキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
          <p>3.テキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
        <h2>第3条（適用範囲）</h2>
          <p>1.テキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
          <p>2.テキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
          <p>3.テキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
        <h2>第4条（禁止事項）</h2>
          <p>1.テキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
          <p>2.テキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
          <p>3.テキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
      </div>
  </div>
</div>
