<div id="main-section">
  <div id="main-contents-sub">
    <div class="container">
      <h2>お知らせ</h2>
      <ul>
        <% @notifications.each do |notification| %>
        <hr>
          <li>
            <span><%= notification.read %></span>
            <p>
              <%= notification.post.user.try(:name) %>さんが
              あなたのブログ（<%= link_to "#{notification.post.board.title}", board_path(notification.post.board, notification_id: notification.id) %>）にコメントしました。
            </p>
            <p><%= notification.created_at %></p>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>