<div id="main-section">
  <div id="main-contents-sub">
    <div class="container">
        
        <p>contacts一覧</p>
        
        <% @contacts.each do |contact| %>
        
        <% end %>
        
    </div>
  </div>
</div>