// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#usercard{
    background:#FFF;
    border: 1px rgb(232, 236, 235) solid;
    border-radius: 5px;
    box-shadow: rgba(0,0,0,0.1) 0px 1px 1px 0px;
    margin: 15px 0;
    padding: 20px 0;
    height: 200px;
}
#usercardboardshow{
    background:#FFF;
    border: 1px rgb(232, 236, 235) solid;
    border-radius: 5px;
    box-shadow: rgba(0,0,0,0.1) 0px 1px 1px 0px;
    margin: 15px 0;
    padding: 20px 0;
    height: 220px;
}
#profileimg img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}
#profilecontents{
    text-align: left;
    margin-left: 30px;
}
#usertab{
    text-align: center;
}
#usertab li{
    float: none;
    display: inline-block;
}
#username{
    color: #333;
    font-weight: bold;
    font-size: 17px;
    text-decoration: none;
}
#username:hover{
    text-decoration: none;
}
#useraffiliation{
    color: #999;
    font-size: 12px;
    margin-bottom: 5px;
}
#userdiscription{
    color: #999;
    font-size: 12px;
    margin-top: 10px;
    line-height: 14px;
}
#usermessage{
    position: relative;
    right: 70px;
    bottom: -23px;
}
#userfollow{
    position: relative;
    left: 80px;
    bottom:  10px;
}
#usernames{
    margin-top: 30px;
    font-weight: bold;
    font-size: 24px;
}
#useraffiliations{
    color: #999;
    margin-bottom: 5px;
}
#userdiscriptions{
    color: #999;
    margin-top: 10px;
    line-height: 14px;
}

.usershowbottom{
    background-color: #f5f5f5;
}
.active a{
    background-color: #F5F5F5!important;
}
#usermessageboardshow{
    position: relative;
    right: 20px;
    bottom: -3px;
}
#userfollowboardshow{
    position: relative;
    left: 130px;
    bottom:  30px;
}